{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livraisons list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td><a href="{{ path('livraison_show', { 'id': livraison.id }) }}">{{ livraison.id }}</a></td>
                <td>{% if livraison.etat %}Yes{% else %}No{% endif %}</td>
                <td>{{ livraison.adresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('livraison_show', { 'id': livraison.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('livraison_edit', { 'id': livraison.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livraison_new') }}">Create a new livraison</a>
        </li>
    </ul>
{% endblock %}
