{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des commandes</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <form action=" {{path('Commande_search') }}">
                                <input  type="text" name="keyword" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <div class="data-table-area mg-b-15">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sparkline13-list">
                                        <div class="sparkline13-hd">
                                            <div class="main-sparkline13-hd">
                                                <h1>Events List</h1>
                                            </div>
                                        </div>
                                        <div class="sparkline13-graph">
                                            <div class="datatable-dashv1-list custom-datatable-overright">

                                                <table id="table" class="table table-head-fixed text-nowrap"  data-toggle="table"
                                                       data-pagination="true" data-search="true" data-show-columns="true"
                                                       data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">

                                                    <thead>
                                                    <tr>
                                                        <th data-field="id">ID Commande</th>
                                                        <th data-field="client">Client</th>
                                                        <th data-field="status">Status</th>
                                                        <th data-field="date">Date</th>
                                                        <th data-field="type_paiement">type Paiement</th>
                                                        <th data-field="type_livraison">type Livraison</th>
                                                        <th >Confirmer commande</th>
                                                        <th data-field="action">Actions</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for commande in commandes  %}

                                                        <tr>
                                                            <td>{{ commande.getid() }}</td>
                                                            <td>{{ commande.utilisateur.getNom() }} {{ commande.utilisateur.getPrenom() }} </td>
                                                            <td>
                                                                {% if commande.getetat() == 'en_attente' %}
                                                                    <span class="badge bg-danger">{{ commande.getetat()}}</span>
                                                                {% else %}
                                                                    <span class="badge bg-success">{{ commande.getetat()}}</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ commande.date|date('D/M/Y') }}</td>
                                                            <td>{{ commande.gettypePaiment() }}  </td>
                                                            <td></td>
                                                            <td>
                                                                <a class="btn btn-app" href='{{ path('Commande_confirme',{id:commande.getId()})  }}'>
                                                                    <i class="fas fa-check-circle"></i>
                                                                    Confirmer</a>
                                                            </td>
                                                            <td><a href='{{ path('Commande_delete', {id: commande.getId()}) }}' >Delete </a> <br>
                                                                <a href='{{ path('Commande_details', {id: commande.getId()}) }}' >Details</a> <td><br>
                                                        </tr>

                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>



            <!-- /.card -->
        </div>
    </div>




{% endblock %}
{% block JS %}
    <script src="{{ asset('data-table/bootstrap-table.js')}}"></script>
    <script src="{{ asset('data-table/tableExport.js')}}"></script>
    <script src="{{ asset('data-table/data-table-active.js')}}"></script>
    <script src="{{ asset('data-table/bootstrap-table-editable.js')}}"></script>
    <script src="{{ asset('data-table/bootstrap-editable.js')}}"></script>
    <script src="{{ asset('data-table/bootstrap-table-resizable.js')}}"></script>
    <script src="{{ asset('data-table/colResizable-1.5.source.js')}}"></script>
    <script src="{{ asset('data-table/bootstrap-table-export.js')}}"></script>
{% endblock %}
