{% extends 'front_base.html.twig' %}

{% block body %}
    <h1>Evenements list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Lieu</th>
            <th>Datedebut</th>
            <th>Datefin</th>
            <th>Nbplace</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Nom</th>
            <th>Formateur</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                <td>{{ evenement.lieu }}</td>
                <td>{% if evenement.dateDebut %}{{ evenement.dateDebut|date('Y-m-d') }}{% endif %}</td>
                <td>{% if evenement.dateFin %}{{ evenement.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ evenement.nbPlace }}</td>
                <td>{{ evenement.prix }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.name }}</td>
                <td>{{ evenement.formateur.nom }}</td>
                <td><a href="{{ path('evenement_mail',{'event':evenement.name}) }}"><button type="button" class="btn btn-info" >Reserver</button></a></td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
