{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livreur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livreur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livreur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ livreur.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('livreur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('livreur_edit', { 'id': livreur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
